@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'DM Sans', sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: #f3f3f3;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;

	animation: fadein 3s;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
#root > * {
	flex: 1 100%;
}

.about-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.icon {
	background: black;
	width: 100px;
	border-radius: 100%;
	color: #f3f3f3;
	fill: #f3f3f3;
	margin: 0 5px 0;
	height: 100px;
}
.icon:hover {
	background: #f3f3f3;
	color: black;
	fill: black;
}
.linkedin:hover {
	color: #007bb6;
	fill: #007bb6;
}

.github:hover {
	fill: #6441a5;
}

#home-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: white;
	height: 675px;
}
